In [6]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key

from config import gkey

In [7]:
# Import cities file into the cities_pd DataFrame
csv_file = pd.read_csv("../Resources/Cities.csv")
cities_pd = pd.DataFrame(csv_file)
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [8]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.


cities_pd['Lat'] = ""
cities_pd['Long'] = ""
cities_pd['Airport Name'] = ""
cities_pd['Airport Address'] = ""
cities_pd['Airport Rating'] = ""

cities_pd.head()

,City,State,Lat,Long,Airport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [ ]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

params ={:"key":gkey}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


for index, row in cities_pd.iterrows():
    city=row["City"]
    state =row["State"]
    

params = {
    "radius": "5000",
    "type": "airport",
    "keyword": "international airport",
    "key": gkey,
}

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears